*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.btn-1{
    /* background-color: #FD6E0A; */
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* main style */
header {
    /* background-color: #FFF8F3; */
    padding-top: 50px;
    background: url("../images/developer.png") , url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;

    
}

nav {
    width: 66%;
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 52px;
    align-items: center;
}
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

.bannar{
    display: flex;
    width: 78%;
    max-width: 1332px;
    /* border: 1px solid red; */
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 47px 38px 0 230px;
    overflow: hidden;
    
}
.bannar-content{
    max-width: 585px;   
}
.bannar-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.bannar-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #010101;
    margin-bottom: 20px;
}
.bannar-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.bannar-image{
    max-width: 585px;
    vertical-align: middle;
    position: relative;
    bottom: -20px;
}

